Django>=5.2,<6
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
psycopg2-binary>=2.9
gunicorn>=22.0
whitenoise>=6.6
Pillow>=10.0
django-storages[azure]>=1.14
azure-storage-blob>=12.19
